## 데이터 전처리 작업

### 데이터 변환하기

#### 데이터의 유형을 원하는 형태로 변환할 수 있다. <br><br> 데이터의 범위를 표준화 또는 정규화를 통해 일치시킬 수 있다. <br><br> 기존 변수를 이용하여 의미 있는 새로운 변수를 생성하거나 변수를 선택할 수 있다.

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns

### 데이터의 유형을 원하는 형태로 변환할 수 있다.

#### - 비정형 데이터를 정형으로 변환 시키기 
#### - 행, 열 바꾸기

주구매상품, 주구매지점 : 비정형 -> 정형 변경

1. 매칭 방법
2. one-hot
3. 주구매지점 -> 구별로 카테고리

In [21]:
data = pd.read_csv('data/X_train.csv', engine = 'python',index_col=0) # engine = 'python' : 한글 깨짐 방지, index_col = 0 '0번째 col이 index로 사용'

In [9]:
data.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
cust_id,,,,,,,,,
0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85

In [13]:
data['주구매상품'].value_counts() # 유일한 값이 각각 몇 번 나타나는 지 출력

기타        595
가공식품      546
농산물       339
화장품       264
시티웨어      213
디자이너      193
수산품       153
캐주얼       101
명품        100
섬유잡화       98
골프         82
스포츠        69
일용잡화       64
모피/피혁      57
육류         57
남성 캐주얼     55
구두         54
건강식품       47
차/커피       44
피혁잡화       40
아동         40
축산가공       35
주방용품       32
셔츠         30
젓갈/반찬      29
주방가전       26
트래디셔널      23
남성정장       22
생활잡화       15
주류         14
가구         10
커리어         9
대형가전        8
란제리/내의      8
식기          7
액세서리        5
침구/수예       4
통신/컴퓨터      3
보석          3
남성 트랜디      2
악기          2
소형가전        2
Name: 주구매상품, dtype: int64

### 1. 매칭

In [14]:
from sklearn.preprocessing import LabelEncoder

In [23]:
encoder = LabelEncoder()
encode_data = encoder.fit_transform(data['주구매상품'].values)
encode_data

array([ 5, 21,  6, ..., 32, 41,  5])

In [24]:
encode, data_class = pd.factorize(data['주구매상품']) #en

In [34]:
print(encode[:10]) # 정수로 인코딩된 값
print(data_class) # 인코딩된 범주

[0 1 2 0 3 4 5 6 0 7]
Index(['기타', '스포츠', '남성 캐주얼', '보석', '디자이너', '시티웨어', '명품', '농산물', '화장품', '골프',
       '구두', '가공식품', '수산품', '아동', '차/커피', '캐주얼', '섬유잡화', '육류', '축산가공', '젓갈/반찬',
       '액세서리', '피혁잡화', '일용잡화', '주방가전', '주방용품', '건강식품', '가구', '주류', '모피/피혁',
       '남성 트랜디', '셔츠', '남성정장', '생활잡화', '트래디셔널', '란제리/내의', '커리어', '침구/수예',
       '대형가전', '통신/컴퓨터', '식기', '소형가전', '악기'],
      dtype='object')

In [35]:
data['factorized_enco'] = encode
data

### 2. one-hot

In [12]:
pd.get_dummies(data['주구매상품'])

,가공식품,가구,건강식품,골프,구두,기타,남성 캐주얼,남성 트랜디,남성정장,농산물,...,주방용품,차/커피,축산가공,침구/수예,캐주얼,커리어,통신/컴퓨터,트래디셔널,피혁잡화,화장품
cust_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3497,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3499,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
data['주구매지점'].value_counts()

본  점     1077
잠실점       474
분당점       436
부산본점      245
영등포점      241
일산점       198
강남점       145
광주점       114
노원점        90
청량리점       86
대전점        70
미아점        69
부평점        57
동래점        49
관악점        46
인천점        34
안양점        29
포항점        11
대구점         7
센텀시티점       6
울산점         6
전주점         5
창원점         4
상인점         1
Name: 주구매지점, dtype: int64